#noticias{
    padding: 20px;
    border: 1px solid red;
}

h2{
    margin-bottom: 30px;
    border: 1px solid blue;
}

.flutuante{
    background: blue;
    border: 1px solid red;
    width: 200px;
    height: 200px;
    float: left;
}

.flutuante_none{
    background:rgb(17, 255, 0);
    border: 1px solid red;
    width: 400px;
    height: 400px;

}

.flutuante_direita{
    background: rgb(238, 255, 0);
    border: 1px solid red;
    width: 200px;
    height: 200px;
    float: right;

}